  .container {width: 720px;}


    .chart_container {
        position: relative;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
    }
    .rChart {
        display: inline-block;
        margin-left: 80px;
    }
   .yAxis {
        position: absolute;
        top: 0;
        bottom: 0;
	left: 40px;
        width: 40px;
   }
   .legend {
        position: absolute;
	left: 100px;
	top: 20px;
        vertical-align: top;
	background: rgb(199, 190, 190);
    }
    .slider {
      margin-left: 40px;
      margin-top: 12px;
    }

/*from example*/
#offset_form {
position: absolute;
top: 30px;
left: 220px;
}
